<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.youth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/youthy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".intro.WelcomeActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.TermAndConditionActivity" />
        <activity android:name=".register.SuccessRegisterActivity" />
        <activity android:name=".activity.poin.TukarPoinActivity" />
        <activity android:name=".activity.poin.RiwayatPoinActivity" />
        <activity android:name=".activity.hafalan.IndonesiaActivity" />
        <activity android:name=".activity.hafalan.EnglishActivity" />
        <activity android:name=".activity.hafalan.MathActivity" />
        <activity android:name=".activity.quiz.QuisSatuActivity" />
        <activity android:name=".activity.quiz.HasilSkor" />
        <activity android:name=".activity.hafalan.math.HafalanMathStatistikaActivity" />
        <activity android:name=".activity.hafalan.math.HafalanMathEksponenActivity" />
        <activity android:name=".activity.quiz.QuisDuaActivity" />
        <activity android:name=".activity.hafalan.math.statistika.HafalanMeanActivity" />
        <activity android:name=".activity.hafalan.math.statistika.HafalanMedianActivity" />
        <activity android:name=".activity.hafalan.math.statistika.HafalanModusActivity" />
        <activity android:name=".activity.hafalan.english.HafalanEnglishExpressionActivity" />
        <activity android:name=".activity.hafalan.math.HafalanMathBarisDeretActivity" />
        <activity android:name=".activity.hafalan.english.HafalanEnglishGrammarActivity" />
        <activity android:name=".activity.hafalan.english.HafalanEnglishTextsActivity" />
        <activity android:name=".activity.hafalan.math.statistika.contohsoal.ContohSoalMeanActivity" />
        <activity android:name=".activity.hafalan.math.statistika.contohsoal.pembahasan.PembahasanMeanActivity" />
        <activity android:name=".activity.hafalan.english.expression.PositiveExpressionActivity" />
        <activity android:name=".activity.hafalan.english.expression.NegativeExpressionActivity"></activity>
    </application>

</manifest>